$clr-100: hsl(217, 19%, 35%);
$clr-200: hsl(214, 17%, 51%);
$clr-300: hsl(212, 23%, 69%);
$clr-400: hsl(210, 46%, 95%);

$font-family: 'Manrope', sans-serif;

/* General Styling */

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

/* Background */

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $clr-400;
}

footer {
    position: absolute;
    bottom: 0;
}

/* Main Card Styling */

.article-card {
    width: 780px;
    background: white;
    display: flex;
    border-radius: .5rem;
}

/* Left Side */

.image-section {
    width: 40%;
    min-width: 320px;
    background: center / cover no-repeat url(../images/drawers.jpg);
    border-radius: .5rem 0 0 .5rem;
}

/* Right Side */

h1 {
    font-size: 1.25rem;
    color: $clr-100;
    margin: 1rem 0 .75rem 0;
}

p {
    color: $clr-200;
    line-height: 1.25rem;
}

/* Social Section */

.social-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.profile {
    display: flex;
    align-items: center;
    img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }
}

.sharing-option {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: $clr-400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
    &:hover {
        background: $clr-100;
        cursor: pointer;
        .share-icon {
            fill: white;
        }
    }
}

.copy {
    padding: 1rem 3rem 2rem;
    position: relative;
}

.name-and-date {
    margin-left: 1rem;
    & > * {
        margin: 0;
    }
}

p.name {
    color: $clr-100;
    font-weight: 700;
}

p.date {
    color: $clr-300
}

.platform-options {
    width: 248px;
    height: 50px;
    background: $clr-100;
    border-radius: .5rem;
    p {
        text-transform: uppercase;
        color: $clr-300;
        letter-spacing: .3rem;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-height: 2rem;
        max-width: 2rem;
    }
    & > * {
        margin: 0 .5rem;
    }
    position: relative;
}

.socials-option {    
    position: absolute;
    right: -65px;
    bottom: 100px;
    display: none;
}

.arrow {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $clr-100;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -12px;
    left: 92px;
}

.mobile-socials-option {
    position: absolute;
    width: 320px;
    bottom: -1.25rem;
    display: none;
}


/* Media Queries */

@media screen and (max-width: 910px) {
    .article-card {
        position: relative;
        width: 320px;
        height: 550px;
        flex-direction: column;
    }
    .image-section {
        height: 45%;
        border-radius: .5rem .5rem 0 0;
        background: center / cover no-repeat url(../images/drawers.jpg);
    }

    .copy {
        padding: 2rem 2rem 0;
    }

    h1 {
        font-size: 1rem;
        margin-top: .5rem;
    }

    .social-section {
        margin-top: 1.5rem;
    }

    .mobile-socials-option {
        position: absolute;
        bottom: 0;
        width: 320px;
        height: 60px;
        .sharing-option {
            background: $clr-200;
            margin-left: 3rem;
        }
        .share-icon {
            fill: $clr-100;
        }
        & .share-icon:hover {
            fill: white;
        }
    }

    .platform-options {
        width: 100%;
        height: 100%;
        border-radius: 0 0 .5rem .5rem;
    }
}